body {
    margin: 0;
    font-family: 'Arial';
    background: #0f172a;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.navbar a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 90vh;
    background: url('../assets/car1.jpg') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
}

.hero h2 {
    font-size: 50px;
}

.hero button {
    margin-top: 20px;
    padding: 12px 25px;
    background: #2563eb;
    border: none;
    color: white;
    border-radius: 8px;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
}